@import "tailwindcss";

body {
  background: black;
  color: white;
  margin: 0;
  overflow: hidden;
}

/* Ensure the game is always clickable and background is behind */
canvas, #tsparticles {
  pointer-events: none !important;
  z-index: -1 !important;
  position: fixed !important;
}

main, .relative, button {
  z-index: 10;
  position: relative;
}
.letter-tile {
  touch-action: none; /* This tells the browser: 'I'll handle the movement, don't scroll' */
  user-select: none;  /* Prevents the 'copy/paste' menu from popping up */
}